<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[VBC] You Have A New Reminder (Subject: Following Up with Clients to Sign Medical Team Forms)</title>
</head>
<body>

<div style="margin:0;padding:0;background-color:#f2f2f2;color:#000000">

    <table style="border-collapse:collapse;table-layout:fixed;border-spacing:0;vertical-align:top;min-width:320px;Margin:0 auto;background-color:#f2f2f2;width:100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top">


                <div style="padding:10px 0px 0px;background-color:transparent">
                    <div style="Margin:0 auto;min-width:320px;max-width:550px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                        <div style="border-collapse:collapse;display:table;width:100%;height:100%;background-color:transparent">

                            <div style="max-width:320px;min-width:550px;display:table-cell;vertical-align:top">
                                <div style="height:100%;width:100%!important">
                                    <div style="box-sizing:border-box;height:100%;padding:0px;border-top:0px solid transparent;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent">

                                        <table style="font-family:arial,helvetica,sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif" align="left">

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody><tr>
                                                            <td style="padding-right:0px;padding-left:0px" align="left">
                                                                <a href="#">
                                                                    <img align="left" border="0" src="https://vbc-clients-dc8969d0b977.herokuapp.com/assets/logo.png" alt="VBC" title="VBC" style="outline:none;text-decoration:none;clear:both;display:inline-block!important;border:none;height:auto;float:none;width:25%;max-width:130px" width="130" class="CToWUd" data-bit="iit">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody></table>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div style="padding:0px 0px 10px;background-color:transparent">