<html lang="en">
<head>
    <title>Welcome to the Veterans Benefits Center: Next Steps</title>
</head>
<body>
<div style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;color: black;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">
        <tbody><tr><td>
            <table border="0" cellpadding="0" cellspacing="0" style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;border-collapse:collapse;max-width:600px;width:100%;">
                <tbody><tr>
                    <td align="left" style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:1% 1% 1% 0">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr border="0">
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:0 0 0 8px;">
                                                <span>Dear {first_name},&nbsp;</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                Thank you for choosing Veteran Benefits Center LLC.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                To get started, please follow these steps utilizing the attached guide for reference:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <b>1. Complete the Client Intake Form (~1 min): </b>Use the "Client Intake Form" link below to access the form.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <ul style="padding: 0 0 0 40px;margin: 0;">
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;"><a href="{intake_form_url}" target="_blank">Client Intake Form</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <b>2. Submit an Intent to File (ITF) (~1 min):</b> See page 10.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <ul style="padding: 0 0 0 40px;margin: 0;">
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Capture a screenshot and upload it later in step 5.</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Initiating an ITF will start the clock on your 12-month period for collecting evidence and formally submitting your claim to the VA for retroactive pay.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <b>3. Request your Records.</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <ul style="padding: 0 0 0 40px;margin: 0;">
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Capture a screenshot and upload it later in step 5.</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">If you have never filed a claim with the VA or just need copies of your records from service, request your DD214 and Service Treatment Records (STRs) from the National Personnel Records Center (NPRC). See page 34. </li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">If the VA has already rated you, you can request a copy of your VA Claims File (C-File), which contains all the records related to your disability claims. See page 26. </li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">These steps will help you obtain a copy of your active duty medical records and other vital documents.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <b>4. Access Your Shared Folder:</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <ul style="padding: 0 0 0 40px;margin: 0;">
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">You will be receiving an email from info@vetbenefitscenter.com inviting you to join a collaborated folder named VBC - {last_name}, {first_name}</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Click &ldquo;Accept Invite&rdquo; and follow the prompts to register an account with Box.com</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Login to your Box.com account, this will take you to a folder structure to which you will upload your documents. Your documents will be stored with the highest standard in security, privacy and compliance.</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">In case you are having issue with receiving or viewing the email invitation, please do the following:<br/>
                                                        <span style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding: 0 0 18px 0;">ⅰ. </span>Go to Box.com<br/>
                                                        <span style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding: 0 0 18px 0;">ⅱ. </span>Use the email you provided us to create an account or login (reset password if necessary)<br/>
                                                        <span style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding: 0 0 18px 0;">ⅲ. </span>Access the folder structure
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <b>5. Upload Required Documents to Shared Folder:</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                <ul style="padding: 0 0 0 40px;margin: 0;">
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Intent to File confirmation (see page 10).</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Records request proof (see page 26 or 34 based on step 3).</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">DD-214.</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Active-duty medical (service treatment) records.</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Disability Rating List (see page 15).</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">VA Medical Records (see page 19).</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Benefits Summary Letter (see page 23).</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Any private medical records you might have.</li>
                                                    <li style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;">Rating Decision Letters (see page 38).</li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                Once all of these steps have been completed, please let us know and a member of our team will arrange a meeting with you.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:11px 0 0 8px;">
                                                Comprehensive instructions for these steps can be found in the guide attached. Should you have any questions, feel free to reach out to us.
                                            </td>
                                        </tr>

                                        <tr><td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:16px;padding:20px 0 0 8px;">--</td></tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:16px;padding:0 0 0 8px;">
                                                {users:first_name} {users:last_name}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:16px;padding:0 0 10px 8px;">
                                                {users:title}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:16px;padding:0 0 0 8px;">
                                                {users:mobile}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:16px;padding:0 0 0 8px;">
                                                Veteran Benefits Center LLC
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:10px 0 0 8px;">
                                                <img src="https://vbc-clients-dc8969d0b977.herokuapp.com/assets/bar.jpeg" style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;display: block; border: none; outline: none; text-decoration: none; max-width: 600px; width: 100%;" width="600"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:'Open Sans','Times New Roman',Arial;font-size:14px;line-height:20px;padding:10px 0 0 8px;">
                                                www.veteranbenefitscenter.com
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>
        </td></tr></tbody></table>
</div>
</body></html>