<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[VBC] You Have A New Reminder (Subject: Following Up with Clients to Sign Medical Team Forms)</title>
</head>
<body>

<div style="margin:0;padding:0;background-color:#f2f2f2;color:#000000">

    <table style="border-collapse:collapse;table-layout:fixed;border-spacing:0;vertical-align:top;min-width:320px;Margin:0 auto;background-color:#f2f2f2;width:100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top">


                <div style="padding:10px 0px 0px;background-color:transparent">
                    <div style="Margin:0 auto;min-width:320px;max-width:550px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                        <div style="border-collapse:collapse;display:table;width:100%;height:100%;background-color:transparent">

                            <div style="max-width:320px;min-width:550px;display:table-cell;vertical-align:top">
                                <div style="height:100%;width:100%!important">
                                    <div style="box-sizing:border-box;height:100%;padding:0px;border-top:0px solid transparent;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent">

                                        <table style="font-family:arial,helvetica,sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif" align="left">

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody><tr>
                                                            <td style="padding-right:0px;padding-left:0px" align="left">
                                                                <a href="#">
                                                                    <img align="left" border="0" src="https://vbc-clients-dc8969d0b977.herokuapp.com/assets/logo.png" alt="VBC" title="VBC" style="outline:none;text-decoration:none;clear:both;display:inline-block!important;border:none;height:auto;float:none;width:25%;max-width:130px" width="130" class="CToWUd" data-bit="iit">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody></table>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div style="padding:0px 0px 10px;background-color:transparent">
                    <div style="Margin:0 auto;min-width:320px;max-width:550px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                        <div style="border-collapse:collapse;display:table;width:100%;height:100%;background-color:transparent">



                            <div style="max-width:320px;min-width:550px;display:table-cell;vertical-align:top">
                                <div style="background-color:#ffffff;height:100%;width:100%!important">
                                    <div style="box-sizing:border-box;height:100%;padding:25px;border-top:5px solid #000000;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent">

                                        <table style="font-family:arial,helvetica,sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-break:break-word;padding:10px 10px 20px;font-family:arial,helvetica,sans-serif" align="left">

                                                    <div style="font-size:14px;line-height:170%;text-align:left;word-wrap:break-word">
                                                        <p style="font-size:14px;line-height:170%"><span style="font-size:16px;line-height:27.2px">Hi Gary,</span></p>
                                                        <p style="font-size:14px;line-height:170%">&nbsp;</p>
                                                        <p style="font-size:14px;line-height:170%"><span style="font-size:16px;line-height:27.2px">We need to follow up with our client to ensure the contract is signed. Here are the details:</span></p>
                                                        <p style="font-size:14px;line-height:170%">
                                                        <ul style="font-size:14px;line-height:170%">
                                                            <li style="font-size:14px;line-height:170%"><b>Subject: </b>Following Up with Clients to Sign Medical Team Forms</li>
                                                            <li style="font-size:14px;line-height:170%"><b>Client Case Name: </b>TestFN TestLN-80#5093</li>
                                                            <li style="font-size:14px;line-height:170%"><b>Contract Sent On: </b>Sat, 18 May 2024 03:59 PM</li>
                                                            <li style="font-size:14px;line-height:170%"><b>Client Case URL: </b><a target="_blank" href="https://crm.zoho.com/crm/org847391426/tab/Potentials/6159272000003416077">https://crm.zoho.com/crm/org847391426/tab/Potentials/6159272000003416077</a></li>
                                                        </ul>
                                                        </p>
                                                        <p style="font-size:14px;line-height:170%">&nbsp;</p>
                                                        <p style="font-size:14px;line-height:170%"><span style="font-size:16px;line-height:27.2px">Please confirm they have received and signed the contract.  </span></p>
                                                        <p style="font-size:14px;line-height:170%"><span style="font-size:16px;line-height:27.2px">Thanks!  </span></p>
                                                    </div>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div style="padding:0px;background-color:transparent">
                    <div style="Margin:0 auto;min-width:320px;max-width:550px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                        <div style="border-collapse:collapse;display:table;width:100%;height:100%;background-color:transparent">



                            <div style="max-width:320px;min-width:550px;display:table-cell;vertical-align:top">
                                <div style="height:100%;width:100%!important">
                                    <div style="box-sizing:border-box;height:100%;padding:0px;border-top:0px solid transparent;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent">

                                        <table style="font-family:arial,helvetica,sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-break:break-word;padding:20px;font-family:arial,helvetica,sans-serif" align="left">

                                                    <div style="font-size:14px;color:#9c9a9a;line-height:120%;text-align:center;word-wrap:break-word">
                                                        <p style="font-size:14px;line-height:120%"><span style="font-size:12px;line-height:14.4px">Automation Workflow</span></p>
                                                        <p style="font-size:14px;line-height:120%"><span style="font-size:12px;line-height:14.4px">Veteran Benefits Center LLC</span></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table></div>
</body>
</html>
